{% extends "layout.html" %}

{% block main %}
    <h4>
        This is "Words Of Game"

    </h4>
    <div class="container_in">

        <div class="section">
            <form action="/" method="post">
                <div class="input-group" id="inputGroup">
                    <input type="text"  autocomplete="off" class="form-control" name="word" id="word" placeholder="Input word or...">
                    <select class="form-select" name="lenght_word" id="lenghtWord">
                        <option selected>choose number of letters</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                    <button class="btn btn-outline-primary" type="submit" id="button-addon2">Play!</button>
                </div>
            </form>
        </div>

        <div class="section">
            <!-- new word confirmation  -->
            {% if new_word != NULL %}
                <form action="/" method="post">
                    <div class="input-group">
                        <input class="form-control" type="text" value="{{ new_word }} - no such word, add?" readonly>
                        <button class="btn btn-outline-primary" type="submit" name="add_word" value="add">Add word!</button>
                        <button class="btn btn-outline-danger" type="submit" name="add_word" value="no">No!</button>
                    </div>
                </form>
            {% endif %}
            {% if message != NULL %}
                <h4>{{ message }}</h4>
            {% endif %}
        </div>
    </div>
    <div class="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Read more...
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="text-align: left">
                    <p>"Words Of Game" is an engaging word game that challenges players to unscramble a set of letters to form as many words as possible. The game provides players with a random or chosen word, and their goal is to rearrange the letters to form words that are at least three letters long.</p>
                    <p>Players can enter their guesses into a text box or using images of letters, and the game will check to see if their guesses are valid words. The game can also provide hints to help players who are struggling.</p>
                    <p>"Words Of Game"  is a fun and educational game that can help players build their vocabulary and improve their spelling skills. It is suitable for players of all ages and can be played alone or with friends. With its simple and addictive gameplay, "Words Of Game"  is sure to provide hours of entertainment for word lovers everywhere!</p>
                    <h5>To begin:</h5>
                    <ol>
                        <li>type the word (4-9 letters)</li>
                        or
                        <li>choose number of letter to get random word</li>
                    </ol>
                    <h5>All words</h5>
                    <p>If you want to check all possible words that you can form, click <a href="/all">All words</a> above and type the word that you are intrested in.</p>
                    <h5>Added by user</h5>
                    <p>You can add words if you know something more)) and delete added words as well. The list of all added words you can get clicking <a href="/users">Added by user</a> above.</p>
                </div>
            </div>
        </div>
    </div>


    <script>
        // lock for input (only one window)
        let word = document.getElementById("word");
        let lenght_word = document.getElementById("lenghtWord");
        word.addEventListener("input", function(event) {
            if (word.value) {
                lenght_word.setAttribute("disabled", true);
            } else {
                lenght_word.removeAttribute("disabled");
            }
        });
        lenght_word.addEventListener("change", function(event) {
            if (lenght_word.value == "choose number of letters") {
                word.removeAttribute("readonly");
            } else {
                word.setAttribute("readonly", true);
            }
        });


    </script>

    {% endblock %}
