body {
    background-image: url("/static/back.jpg");
    background-attachment: fixed;
    background-position: top left;
    background-size: 100% auto;
    font-size: 16px;
  }

.container {
    margin-top: 3.5vw;
    margin-left: 9vw;
    margin-right: 7vw;
    padding-left: 15px;
    padding-right: 15px;
    width: 87%;
}
.container_in {
    display: inline;
}

.section {
    padding-bottom: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.5rem;
}


/* change size of images depending of number */
:root {
    --imageSize: 100%;
  }
.word_image {
    width: calc(100% / (var(--imageSize) * 1.5));
    filter: grayscale(0%) opacity(100%) drop-shadow(3px 3px 5px #A9A9A9);
    border: 3px solid;
    border-radius: 10px;
    border-color: #B0C4DE;
    transition: border-color 0.5s, filter 0.5s, border 0.5s;
}
.guess_image {
    width: calc(100% / (var(--imageSize) * 1.35));
    filter: drop-shadow(2px 2px 2px #A9A9A9);
    border: 3px solid;
    border-radius: 10px;
    border-color: #B0C4DE;
    transition: border-color 0.5s, filter 0.5s, border 0.5s;
    display: none;
    border-color: #00FF7F;
}

.word_image:hover {
    border-color: #4682B4;
}
.guess_image:hover {
    border: 5px solid;
    border-color: #FF0000;
    filter: drop-shadow(2px 2px 4px #CD5C5C);
}

/* answers and hints */
.container_table {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}
table {
    text-align: left;
    padding-left: 7px;
    margin-left: 15px;
}
td {
    border-bottom: 1px solid #ADD8E6;
}
.div_overflow {
    height: 300px;
    text-align: left;
    overflow: auto;
}
.hint {
    display: none;
}

  /* fixing the background scale */
@media (max-width: 800px) {
    body {
        background-size: 800px;
    }

}
