{% extends "layout.html" %}

{% block main %}

    <div class="section">
        <h4>Words added by user</h4>
        <h4>{{ message }}</h4>
        <div class="container_table" style="width: 95%">
            <table>
                <!-- Loop for possible words -->
                <tbody>
                    {% for item in table %}
                    <tr>
                        <td style="width: 30px">{{ loop.index }}.</td>
                        <td style="width: 300px">{{ item["word"] }}</td>
                        <td style="width: 300px">added by user</td>
                        <td>
                            <form action="/users" method="post">
                                <button class="btn btn-outline-secondary btn-sm" type="submit" name="action" value="{{ item["word"] }}" id="{{ loop.index }}">
                                    delete
                                </button>
                            </form>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
